{% extends 'main.html' %}

{% load static %} 


{% block content %}


<form method="post">
    {% csrf_token %}
  
    <label for="name">Your name: </label>
    <input class="form-control" id="name" type="text" name="name">
    <label for="address">Your address: </label>
    <input class="form-control" id="address" type="text" name="address">
    <input class="btn btn-primary" type="submit" value="OK">
</form>

<div class="container">
    <table class="table">
    <th>Name</th>
    <th>Address</th>
    <th>Actions</th>
    
    {% for customer in customers %}
    <tr>
           <td> {{customer.name}}</td>
           <td>{{customer.address}}</td>
           <td><a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-danger" href="#">Delete</a></td>
    </tr>
    {% endfor %}
    
    </table>
</div>


{% endblock content %}