{% load static %} 

<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.js' %}">
        
    </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">MyMedical</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                      <a class="nav-link" href="/add_customer/">Add customer</a>
                      <a class="nav-link" href="/add_medicine/">Add medicine</a>
                      <a class="nav-link" href="/add_stock/">Add stock</a>
                    </div>
                  </div>
                </div>
              </nav>


              
            
        </body>



        <script src="{% static 'bootstrap/js/bootstrap.js' %}">
        </script>


        

        
</html>

           